
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout-noLogin.cshtml";
}
<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
    <el-form-item label="账号" prop="UserName">
        <el-input v-model="ruleForm.UserName"></el-input>
    </el-form-item>
    <el-form-item label="密码" prop="Password">
        <el-input type="Password" v-model="ruleForm.Password"></el-input>
    </el-form-item>

    <el-form-item>
        <el-button type="primary" v-on:click="submitForm('ruleForm')">登录</el-button>
        <a href="/register"><el-button>注册</el-button></a>
    </el-form-item>
</el-form>

@section scripts{
    <script>
      new Vue({
            el: '#app',
            data: function () {
                return {
                    activeIndex: '0',
                    ruleForm: {
                        UserName: '',
                        Password: ''
                    },
                    rules: {
                        UserName: [
                            { required: true, message: '请输入账号', trigger: 'blur' },
                            { min: 2, max: 8, message: '长度在 2 到 8 个字符', trigger: 'blur' }
                        ],
                        Password: [
                            { required: true, message: '请输入密码', trigger: 'blur' },
                            { min: 3, max: 8, message: '长度在 3 到 8 个字符', trigger: 'blur' }
                        ]
                    }
                }
            },
            methods: {
                submitForm:function(formName) {

                    let that = this
                    this.$refs[formName].validate(function(valid){
                        if (valid) {
                            $.ajax({
                                url: '/Login/CheckLogin',
                                type: 'POST',
                                data: that.ruleForm,
                                success: function (data) {
                                    if (data == true || data == 'True') {
                                        let userInfo = {
                                            username: _getCookie('UserName'),
                                            companyId: _getCookie('CompanyId'),
                                            role: _getCookie('Role')
                                        }
                                        console.log(userInfo);
                                        //setLocalObj('user', userInfo)
                                        location.href = '/'
                                    }
                                }
                            })
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm:function(formName) {
                    this.$refs[formName].resetFields();
                }
            },
            created: function () {
            }
        })
    </script>
    <style>
        form {
            width: 460px;
            margin: 80px auto;
        }
    </style>
}
