@{
    Layout = null;
}

<div>
    @*<el-tabs type="border-card">*@
        <!--主分页-->
        @*<el-tab-pane label="在线办公">*@
            <div class="el-container" style="border: 1px solid #eee">
                <!--左侧导航栏-->
                <div class="el-aside" width="20%" style="background-color: rgb(238, 241, 246)">
                    <el-menu :default-openeds="['2','3']"
                             :default-active="'1'">
                        <el-menu-item index="1" onclick="loadPage('/Main/DeviceMonitor')">
                            <i class="el-icon-menu"></i>状态监控
                        </el-menu-item>
                        <el-submenu index="2">
                            <template slot="title">
                                <i class="el-icon-message"></i>参数信息
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="2-1" onclick="loadPage('/Main/ParamOrder')">订单参数</el-menu-item>
                                <el-menu-item index="2-2" onclick="loadPage('/Main/ParamStand')">胶站参数</el-menu-item>
                                <el-menu-item index="2-3" onclick="loadPage('/Main/ParamLine')">生产线参数</el-menu-item>
                                <el-menu-item index="2-4" onclick="loadPage('/Main/ParamOther')">工艺人员状态图</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                        <el-submenu index="3">
                            <template slot="title">
                                <i class="el-icon-phone"></i>图表可视化分析
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="3-1" onclick="loadPage('/Main/ChartProduce')">实时生产统计</el-menu-item>
                                <el-menu-item index="3-2" onclick="loadPage('/Main/ChartOrderQuality')">批次质量分析</el-menu-item>
                                <el-menu-item index="3-3" onclick="loadPage('/Main/ChartProductQuality')">单品质量分析</el-menu-item>
                                <el-menu-item index="3-4" onclick="loadPage('/Main/ChartMultiply')">月统计报表</el-menu-item>
                                <el-menu-item index="3-5" onclick="loadPage('/Main/ChartBeat')">实时生产节拍</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                        <el-menu-item index="4" onclick="loadPage('/Main/VideoMonitor')">
                            <i class="el-icon-menu"></i>视频监控
                        </el-menu-item>
                    </el-menu>
                </div>
