@{
    Layout = null;
}

<div>
    @*<el-tabs type="border-card">*@
        <!--主分页-->
        @*<el-tab-pane label="在线办公">*@
            <div class="el-container" style="border: 1px solid #eee">
                <!--左侧导航栏-->
                <div class="el-aside" width="20%" style="background-color: rgb(238, 241, 246)">
                    <el-menu :default-openeds="['2','3']"
                             :default-active="'1'">
                        <el-menu-item v-show="menuList.indexOf('1000')>=0" index="1" onclick="loadPage('/Main/DeviceMonitor')">
                            <i class="el-icon-menu"></i>状态监控
                        </el-menu-item>
                        <el-submenu v-show="menuList.indexOf('2000')>=0" index="2">
                            <template slot="title">
                                <i class="el-icon-message"></i>参数信息
                            </template>
                            <el-menu-item-group>
                                <el-menu-item v-show="menuList.indexOf('2001')>=0" index="2-1" onclick="loadPage('/Main/ParamOrder')">订单参数</el-menu-item>
                                <el-menu-item v-show="menuList.indexOf('2002')>=0" index="2-2" onclick="loadPage('/Main/ParamStand')">胶站参数</el-menu-item>
                                <el-menu-item v-show="menuList.indexOf('2003')>=0" index="2-3" onclick="loadPage('/Main/ParamLine')">生产线参数</el-menu-item>
                                <el-menu-item v-show="menuList.indexOf('2004')>=0" index="2-4" onclick="loadPage('/Main/ParamWorker')">工艺人员状态图</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                        <el-submenu v-show="menuList.indexOf('3000')>=0" index="3">
                            <template slot="title">
                                <i class="el-icon-search"></i>数据分析
                            </template>
                            <el-menu-item-group>
                                <el-menu-item v-show="menuList.indexOf('3001')>=0" index="3-1" onclick="loadPage('/Main/ChartProduce')">实时生产统计</el-menu-item>
                                <el-menu-item v-show="menuList.indexOf('3002')>=0" index="3-5" onclick="loadPage('/Main/ChartBeat')">实时生产节拍</el-menu-item>
                                <el-menu-item v-show="menuList.indexOf('3003')>=0" index="3-3" onclick="loadPage('/Main/ChartProductQuality')">单品质量分析</el-menu-item>
                                <el-menu-item v-show="menuList.indexOf('3004')>=0" index="3-2" onclick="loadPage('/Main/ChartOrderQuality')">批次质量分析</el-menu-item>
                                <el-menu-item index="3-7" onclick="loadPage('/Main/ChartRunStatus')">运行状况分析</el-menu-item>
                                <el-menu-item index="3-8" onclick="loadPage('/Main/ChartDeviceErr')">设备报警分析</el-menu-item>
                                <el-menu-item v-show="menuList.indexOf('3005')>=0" index="3-6" onclick="loadPage('/Main/ChartDay')">日统计报表</el-menu-item>
                                <el-menu-item v-show="menuList.indexOf('3006')>=0" index="3-4" onclick="loadPage('/Main/ChartMultiply')">月统计报表</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                        <el-menu-item v-show="menuList.indexOf('4000')>=0" index="4" onclick="loadPage('/Main/VideoMonitor')">
                            <i class="el-icon-view"></i>视频监控
                        </el-menu-item>
                        <el-submenu index="4">
                            <template slot="title">
                                <i class="el-icon-setting"></i>系统管理
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="4-1" onclick="loadPage('/Main/ManagerUser')">用户管理</el-menu-item>
                                <el-menu-item index="4-2" onclick="loadPage('/Main/ManagerDevice')">设备管理</el-menu-item>
                                <el-menu-item index="4-3" onclick="loadPage('/Main/Robot')">机器人</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                        @*<el-menu-item index="5" onclick="loadPage('/Main/VideoSimulation')">
                            <i class="el-icon-refresh"></i>生产仿真
                        </el-menu-item>*@
                    </el-menu>
                </div>
