@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage" style="height:500px;">
    <!--查詢表單-->
    <el-form :inline="false" :model="formInline" ref="formInline" :rules="rules" class="demo-form-inline"
             size="medium">
        <el-form-item label="二维码号" prop="qrCode">
            <el-input v-model="formInline.qrCode"
                      placeholder="请输入鞋子二维码"></el-input>
        </el-form-item>
        <el-form-item label="工位" prop="stationId">
            @*<el-select v-model="formInline.stationId">
                    <el-option v-for="s of stations" :label="s.Value" :value="s.Key" key="s.Key"></el-option>
                </el-select>*@
            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" v-on:change="handleCheckAllChange">全选</el-checkbox>
            <div style="margin: 15px 0;"></div>
            <el-checkbox-group v-model="formInline.stationId" v-on:change="handleCheckedCitiesChange">
                <el-checkbox v-for="s in stations" :label="s.Key" :key="s.Key">{{s.Value}}</el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="search('formInline')">搜索</el-button>
        </el-form-item>
    </el-form>

    <div id="lineChart1" style="height:300px;"></div>
    <div id="lineChart2" style="height:300px;"></div>
    <div id="lineChart3" style="height:300px;"></div>
    <div id="lineChart4" style="height:300px;"></div>
    <div id="lineChart5" style="height:300px;"></div>
    <div id="lineChart6" style="height:300px;"></div>
    <div id="lineChart7" style="height:300px;"></div>
</el-main>

<script>
    var paramOption = []
    var lineChart1, lineOption1, lineChart2, lineOption2, lineChart3, lineOption3, lineChart4, lineOption4, lineChart5, lineOption5, lineChart6, lineOption6, lineChart7, lineOption7
    var lineElement1, lineElement2, lineElement3, lineElement4, lineElement5, lineElement6, lineElement7
    var lineElements = [] , lineCharts = [], lineOptions = []
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                formInline: {
                    qrCode: '',
                    stationId: ["Vamp", "WaiO"]
                },
                stations: [],
                checkAll: false,
                isIndeterminate: true
            }
        },
        methods: {
            search: function (formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if(!valid) return
                    that.getData()
                    //intervalId = window.setInterval(function () {
                    //    that.getData()
                    //}, 50000)
                })
            },
            //获取单品质量分析工位列表
            getStations: function () {
                var that = this
                $.ajax({
                    url: '/SingleQuality/GetSingleQualityStation',
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log('获取单品质量分析工位列表')
                        console.log(data)
                        that.stations = data
                    }
                })
            },
            //查询单品单工位实时数据
            getData: function () {
                var that = this
                hideOptions()
                for (let s of this.formInline.stationId) {
                    let index = 0
                    for (let i = 0; i < this.stations.length; i++) {
                        if (s == this.stations[i].Key) {
                            index = i
                        }
                    }
                    let param = {
                        RFID: this.formInline.qrCode,
                        Spray: s
                    }
                    this.GetSingleQuality(index, param, this.stations[index].Value)
                }
            },
            GetSingleQuality(index, param, title) {
                var url = '/SingleQuality/GetSingleQualityByRFIDandSpray' + _formatQueryStr(param)
                $.ajax({
                    url: url,
                    success: function (data) {
                        var xArr = [], y1Arr = [], y2Arr = [], y3Arr = [], y4Arr = [], y5Arr = [], y6Arr = [], y7Arr = []
                        data = JSON.parse(data)
                        console.log('查询单品单工位实时数据')
                        console.log(url)
                        console.log(data)
                        for (var d in data) {
                            xArr.push(data[d][param.Spray + 'ID'])
                            y1Arr.push(data[d].AtomizationPressure)
                            y2Arr.push(data[d].MaterialPressure)
                            y3Arr.push(data[d].GlueWeight)
                            y4Arr.push(data[d].FlowMeter)
                            y5Arr.push(data[d].OvenTemperatureNow)
                            y6Arr.push(data[d].StateN)
                            y7Arr.push(data[d].ErrorN / 1000)
                        }
                        lineOptions[index].xAxis[0].data = xArr
                        lineOptions[index].series[0].data = y1Arr
                        lineOptions[index].series[1].data = y2Arr
                        lineOptions[index].series[2].data = y3Arr
                        lineOptions[index].series[3].data = y4Arr
                        lineOptions[index].series[4].data = y5Arr
                        lineOptions[index].series[5].data = y6Arr
                        lineOptions[index].series[6].data = y7Arr
                        lineOptions[index].title.text = title
                        lineCharts[index].setOption(lineOptions[index])
                        $('#lineChart' + (index + 1)).show()
                        console.log(lineOptions[index])
                        console.log(lineCharts[index])
                    }
                })
            },
            //多选控件方法
            handleCheckAllChange(val) {
                if (this.formInline.stationId.length < this.stations.length) {
                    this.formInline.stationId = []
                    for (let s of this.stations) {
                        this.formInline.stationId.push(s.Key)
                    }
                } else {
                    this.formInline.stationId = []
                }
            },
            handleCheckedCitiesChange(value) {
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.stations.length;
                this.isIndeterminate = checkedCount > 0 && checkedCount < this.stations.length;
            }
        },
        created: function () {
            this.getStations()
            loadHtml("mainPage", "partPage")
        }
    })
    var realTimeData = {
        name: '信息实时数据表',
        params: ['雾化压力', '物料压力', '胶重', '流量计', '烤箱实时温度', '机器人状态号', '机器人报警号'],
        time: ['8:00'],
        dada: {

        }
    }
    lineOption = {
        title: {
            text: realTimeData.name,
            x: 'left'
        },
        legend: {
            data: realTimeData.params,
            //orient: 'vertical',
            x: 'right'
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: realTimeData.time
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        grid: {
            backgroundColor: 'white',
        },
        backgroundColor:'white',
        series: [
            {
                name: '雾化压力',
                type: 'line',
                data: [1]
            },
            {
                name: '物料压力',
                type: 'line',
                data: []
            },
            {
                name: '胶重',
                type: 'line',
                data: []
            },
            {
                name: '流量计',
                type: 'line',
                data: []
            },
            {
                name: '烤箱实时温度',
                type: 'line',
                data: []
            },
            {
                name: '机器人状态号',
                type: 'line',
                data: []
            },
            {
                name: '机器人报警号',
                type: 'line',
                data: []
            }
        ]
    };
    for (let i = 0; i < 7; i++) {
        let element = document.getElementById('lineChart' + (i + 1))
        //let id = '#lineChart' + (i + 1)
        //let element = $(id)
        lineElements.push(element)
        lineCharts.push(echarts.init(element))
        lineOptions.push(_cloneObj(lineOption))
        lineCharts[i].setOption(lineOptions[i])
    }
    console.log(11111)
    console.log(lineOptions)
    hideOptions()
    //lineChart.setOption(lineOption);

    function hideOptions() {
        for (let i = 0; i < 7; i++) {
            $('#lineChart' + (i + 1)).hide()
        }
    }
</script>



