@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage" style="height:500px;">
    <!--查詢表單-->
    <el-form :inline="true" :model="formInline" class="demo-form-inline"
             size="medium">
        <el-form-item label="二维码号">
            <el-input v-model="formInline.qrCode"
                      placeholder="请输入鞋子二维码"></el-input>
        </el-form-item>
        <el-form-item label="工位">
            <el-select v-model="formInline.stationId">
                <el-option v-for="s of stations" :label="s.name" :value="s.id" key="s.id"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="search">搜索</el-button>
        </el-form-item>
    </el-form>

    <div id="lineChart" style="height:300px;"></div>
</el-main>

<script>
    var paramOption = []
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                formInline: {
                    qrCode: '',
                    stationId :''
                },
                stations: [
                    {
                        id: 1,
                        name: '工位1'
                    },
                    {
                        id: 2,
                        name: '工位2'
                    }]
            }
        },
        methods: {
            search: function () {

            }
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })
    var realTimeData = {
        name: '鞋面喷胶站信息实时数据表',
        params: ['雾化压力', '物料压力', '胶重', '流量计', '烤箱实时温度', '机器人状态号', '机器人报警号'],
        time: ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '18:00', '19:00', '20:00', '121:00', '22:00', '23:00', '24:00'],
        dada: {

        }
    }
    var myChart = echarts.init(document.getElementById('lineChart'));
    lineOption = {
        title: {
            text: realTimeData.name,
            x: 'left'
        },
        legend: {
            data: realTimeData.params,
            //orient: 'vertical',
            x: 'right'
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: realTimeData.time
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {
                name: '雾化压力',
                type: 'line',
                data: [100, 100, 101, 100, 100, 100, 100, 100, 100, 100, 100, 100, 99, 100],
                markPoint: {
                    data: [
                        { type: 'max', name: '最大压力' },
                        { type: 'min', name: '最小压力' }
                    ]
                }
            },
            {
                name: '物料压力',
                type: 'line',
                data: [90, 90, 91, 90, 90, 90, 90, 90, 90, 90, 90, 90, 99, 90]
            },
            {
                name: '胶重',
                type: 'line',
                data: [80, 80, 81, 80, 80, 80, 80, 80, 80, 80, 80, 80, 89, 80]
            },
            {
                name: '流量计',
                type: 'line',
                data: [70, 70, 71, 70, 70, 70, 70, 70, 70, 70, 70, 70, 79, 70]
            },
            {
                name: '烤箱实时温度',
                type: 'line',
                data: [60, 60, 61, 60, 60, 60, 60, 60, 100, 60, 60, 60, 69, 60]
            },
            {
                name: '机器人状态号',
                type: 'line',
                data: [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 9, 1]
            },
            {
                name: '机器人报警号',
                type: 'line',
                data: [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0]
            }
        ]
    };
    myChart.setOption(lineOption);
</script>



