@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage">
    <el-form :inline="true" :model="formInline" ref="formInline" :rules="rules" class="demo-form-inline"
             size="medium">
        <el-form-item label="开始时间" prop="startTime">
            @*<el-select v-model="formInline.year">
                    <el-option v-for="y of [curYear,curYear-1,curYear-2]" :label="y" :value="y" key="y"></el-option>
                </el-select>*@
            <el-date-picker v-model="formInline.startTime"
                            type="month"
                            placeholder="选择月">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="结束时间" prop="endTime">
            @*<el-select v-if="formInline.year < curYear && formInline.year != ''" v-model="formInline.month">
                    <el-option v-for="n in 12" :label="n" :value="n" key="n"></el-option>
                </el-select>
                <el-select v-else v-model="formInline.month">
                    <el-option v-for="m in curMonth" :label="m" :value="m" key="m"></el-option>
                </el-select>*@
            <el-date-picker v-model="formInline.endTime"
                            type="month"
                            placeholder="选择月">
            </el-date-picker>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" v-on:click="onSearch('formInline')">搜索</el-button>
        </el-form-item>
    </el-form>
    <div id="lineChart" style="height:300px;"></div>
    <div id="barChart" style="height:300px;"></div>
</el-main>

<script>
    var date = new Date('2018/03/0')
    console.log(date.getDate())
    var lineChart, lineOption, barChart, barOption
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                formInline: {
                    startTime: '',
                    endTime: ''
                }
            }
        },
        methods: {
            //查询月报表
            onSearch: function (formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if (!valid) return
                    var startTime = that.formInline.startTime
                    var endTime = that.formInline.endTime
                    var timeUrl = '?startYear=' + startTime.getFullYear() + '&startMonth=' + parseInt(startTime.getMonth()) + 1 + '&endYear=' + endTime.getFullYear() + '&endMonth=' + parseInt(endTime.getMonth()) + 1
                    console.log(timeUrl)
                    if (startTime > endTime) {
                        alert('开始时间大于结束时间')
                        return
                    }
                    $.ajax({
                        url: '/reports/GetMonQuality' + timeUrl,
                        success: function (data) {
                            data = JSON.parse(data)
                            console.log('月报质量查询')
                            console.log(data.Rows)
                        }
                    })
                    $.ajax({
                        url: '/reports/GetMonUsage' + timeUrl,
                        success: function (data) {
                            data = JSON.parse(data)
                            console.log('月报用量查询')
                            console.log(data.Rows)
                        }
                    })
                });
            }
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })

    //折线图
    lineChart = echarts.init(document.getElementById('lineChart'));
    lineOption = {
        title: {
            text: '',
            x: 'center'
        },
        legend: {
            data: ['硫化外观合格率', '折弯疲劳合格率','鞋面拉力合格点占比','大底拉力合格点占比'],
            x: 'left'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                magicType: {
                    show: true,
                    type: ['line', 'bar']
                },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: ['8', '9', '10', '11', '12', '13', '14']
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} %'
                }
            }
        ],
        series: [
            {
                name: '硫化外观合格率',
                type: 'line',
                data: [0, 11, 25, 33, 52, 63, 70],
                markPoint: {
                    data: [
                        { type: 'max', name: '硫化外观合格率' }
                    ]
                },
            },
            {
                name: '折弯疲劳合格率',
                type: 'line',
                data: [100, 100, 100, 100, 100, 100, 100],
                markPoint: {
                    data: [
                        { type: 'max', name: '折弯疲劳合格率' }
                    ]
                },
            },{
                name: '鞋面拉力合格点占比',
                type: 'line',
                data: [50, 51, 55, 53, 52, 53, 50],
                markPoint: {
                    data: [
                        { type: 'max', name: '鞋面拉力合格点占比' }
                    ]
                },
            }, {
                name: '大底拉力合格点占比',
                type: 'line',
                data: [20, 21, 25, 23, 22, 23, 20],
                markPoint: {
                    data: [
                        { type: 'max', name: '大底拉力合格点占比' }
                    ]
                },
            }
        ]
    };
    lineChart.setOption(lineOption);
    //柱状图
    barChart = echarts.init(document.getElementById('barChart'));
    barOption = {
        title: {
            text: '用料统计图',
            x: 'center'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                data: ['8', '9', '10', '11', '12',13,14]
            }
        ],
        yAxis: [
            {
                type: 'value',
            }
        ],
        series: [
            {
                name: '用料统计图',
                type: 'bar',
                itemStyle: {
                    normal: {
                        label: {
                            show: true,
                            position: 'top',
                            formatter: '{c}'
                        }
                    }
                },
                data: [70, 71, 75, 83, 87, 99, 111]
            }
        ]
    };
    barChart.setOption(barOption);
</script>



