@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage">
    <el-collapse v-model="activeNames">
        <el-collapse-item :title="lineData[0].ProductLineName" name="1">
            <div id="barChart1" style="height:400px;"></div>
            <div id="barChart2" style="height:400px;"></div>
        </el-collapse-item>
        <el-collapse-item :title="lineData[1].ProductLineName" name="2">
            <div>暂无数据</div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    var date = new Date('2018/03/0')
    console.log(date.getDate())
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                lineData: getLocalObj("lineData"),
                activeNames: ['1'],
                formInline: {
                    year: '',
                    month: ''
                }
            }
        },
        methods: {
            //获取生产节拍数据
            getData(lineid) {
                var that = this
                $.ajax({
                    url: "Statistics/ChartBeatQuery?mins=8860&lineid=" + lineid,
                    success: function (data) {
                        data = JSON.parse(data).Rows
                        console.log('获取生产节拍数据')
                        console.log(data)
                        var peopleX = [], peopleY1 = [], peopleY2 = [], peopleY3 = []
                        var machineX = [], machineY1 = [], machineY2 = [], machineY3 = []
                        for (let d of data) {
                            if (d.JobType == '人工') {
                                peopleX.push(d.stationNAME)
                                peopleY1.push(d.run)
                                peopleY2.push(d.free)
                                peopleY3.push(d.warn)
                            } else {
                                machineX.push(d.stationNAME)
                                machineY1.push(d.run)
                                machineY2.push(d.free)
                                machineY3.push(d.warn)
                            } 
                        }
                        barOption1.yAxis[0].data = peopleX
                        barOption1.series[0].data = peopleY1
                        barOption1.series[1].data = peopleY2
                        barOption1.series[2].data = peopleY3
                        console.log(barOption1)
                        barChart1.setOption(barOption1)
                        barOption2.yAxis[0].data = machineX
                        barOption2.series[0].data = machineY1
                        barOption2.series[1].data = machineY2
                        barOption2.series[2].data = machineY3
                        console.log(barOption2)
                        barChart2.setOption(barOption2)
                    }
                })
            }
        },
        created: function () {
            this.getData(1)
            loadHtml("mainPage", "partPage")
        }
    })

    //柱状图
    var barChart1 = echarts.init(document.getElementById('barChart1'));
    var barChart2 = echarts.init(document.getElementById('barChart2'));
    barOption = {
        title: {
            text: '生产节拍统计图',
            x: 'center'
        },
        legend: {
            data: ['运行', '空闲', '报警'],
            x: 'left'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'value',
                name: '秒',
                boundaryGap: [0, 0.01]
            }
        ],
        yAxis: [
            {
                type: 'category',
                data: ['无']
            }
        ],
        series: [
            {
                name: '运行',
                type: 'bar',
                stack: '总量',
                itemStyle: { normal: { color: '#67C23A', label: { show: true, position: 'insideRight' } } },
                data: [0],
                color: '#222'
            },
            {
                name: '空闲',
                type: 'bar',
                stack: '总量',
                itemStyle: { normal: { color: '#E6A23C', label: { show: true, position: 'insideRight' } } },
                data: [0]
            },
            {
                name: '报警',
                type: 'bar',
                stack: '总量',
                itemStyle: { normal: { color: '#F56C6C', label: { show: true, position: 'insideRight' } } },
                data: [0]
            }
        ]
    };
    var barOption1 = _cloneObj(barOption)
    var barOption2 = _cloneObj(barOption)
    barOption1.title.text = '人工生产节拍统计图'
    barOption2.title.text = '机器生产节拍统计图'
    barChart1.setOption(barOption1) 
    barChart2.setOption(barOption2)
</script>
