@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage">
    <el-form :inline="true" :model="formInline" ref="formInline" :rules="rules" class="demo-form-inline"
             size="medium">
        <el-form-item label="开始时间" prop="startTime">
            @*<el-select v-model="formInline.year">
                    <el-option v-for="y of [curYear,curYear-1,curYear-2]" :label="y" :value="y" key="y"></el-option>
                </el-select>*@
            <el-date-picker v-model="formInline.startTime"
                            type="month"
                            placeholder="选择月">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="结束时间" prop="endTime">
            @*<el-select v-if="formInline.year < curYear && formInline.year != ''" v-model="formInline.month">
                    <el-option v-for="n in 12" :label="n" :value="n" key="n"></el-option>
                </el-select>
                <el-select v-else v-model="formInline.month">
                    <el-option v-for="m in curMonth" :label="m" :value="m" key="m"></el-option>
                </el-select>*@
            <el-date-picker v-model="formInline.endTime"
                            type="month"
                            placeholder="选择月">
            </el-date-picker>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" v-on:click="onSearch('formInline')">搜索</el-button>
            @*<span class="alert">{{alert}}</span>*@
        </el-form-item>
    </el-form>
    <div id="lineChart2" style="height:300px;"></div>
    <div id="barChart" style="height:300px;"></div>
    <div id="lineChart" style="height:300px;"></div>
</el-main>

<script>
    var date = new Date('2018/03/0')
    console.log(date.getDate())
    var lineChart, lineChart2, lineOption, lineOption2, barChart, barOption
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                formInline: {
                    startTime: '',
                    endTime: ''
                },
                alert: ''
            }
        },
        methods: {
            //查询月报表
            onSearch: function (formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if (!valid) return
                    var startTime = that.formInline.startTime
                    var endTime = that.formInline.endTime
                    var timeUrl = '?startYear=' + startTime.getFullYear() + '&startMonth=' + (parseInt(startTime.getMonth()) + 1) + '&endYear=' + endTime.getFullYear() + '&endMonth=' + (parseInt(endTime.getMonth()) + 1)
                    console.log(timeUrl)
                    if (startTime > endTime) {
                        alert('开始时间大于结束时间')
                        return
                    }
                    that.getData(timeUrl)
                });
            },
            getData: function (timeUrl) {
                var that = this
                $.ajax({
                    url: '/reports/GetMonQuality' + timeUrl,
                    success: function (data) {
                        console.log('月报质量查询')
                        console.log('/Reports/GetMonQuality' + timeUrl)
                        data = JSON.parse(data)
                        console.log(data.Rows)
                        if (!data.Rows) {
                            that.alert = '月报质量' + data.ErrorMessage
                        } else {
                            that.alert = ''
                        }
                        data = data.Rows
                        var xArr = [], y1Arr = [], y2Arr = [], y3Arr = [], y4Arr = [], y5Arr = []
                        if (!data) {
                            xArr = [0], y1Arr = [0], y2Arr = [0], y3Arr = [0], y4Arr = [0], y5Arr = [0]
                        } else {
                            for (var d in data) {
                                xArr.push(data[d].datestr)
                                y1Arr.push(data[d].AppearanceAfterQualified)
                                y2Arr.push(data[d].AppearanceQualified)
                                y3Arr.push(data[d].DaDiPullQualified)
                                y4Arr.push(data[d].VampPullQualified)
                                y5Arr.push(data[d].ZheWangQualified)
                            }
                        }
                        
                        lineOption.xAxis[0].data = xArr
                        lineOption.series[0].data = y1Arr
                        lineOption.series[1].data = y2Arr
                        lineOption.series[2].data = y3Arr
                        lineOption.series[3].data = y4Arr
                        lineOption.series[4].data = y5Arr
                        console.log(lineOption.series)
                        lineChart.setOption(lineOption,true)
                    }
                })
                $.ajax({
                    url: '/Reports/GetMonProduct' + timeUrl,
                    success: function (data) {
                        console.log('月报产量查询')
                        console.log('/reports/GetMonProduct' + timeUrl)
                        data = JSON.parse(data)
                        console.log(data)
                        console.log(data.Rows)
                        data = data.Rows
                        var xArr = [], y1Arr = []
                        if (!data) {
                            xArr = [0], y1Arr = [0]
                        } else {
                            for (var d in data) {
                                xArr.push(data[d].datestr)
                                y1Arr.push(data[d].AllN)
                            }
                        }
                        lineOption2.xAxis[0].data = xArr
                        lineOption2.series[0].data = y1Arr
                        console.log(lineOption2.series)
                        //lineChart2.clear()
                        lineChart2.setOption(lineOption2, true)
                    }
                })
                $.ajax({
                    url: '/Reports/GetMonUsage' + timeUrl,
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log('月报用量查询')
                        console.log(data.Rows)
                        data = data.Rows[0]
                        barOption.series[0].data = [data.BiaoQianConsumption, data.DaDiConsumption, data.HuChiConsumption, data.WeiTiaoConsumption]
                        barChart.setOption(barOption,true)
                    }
                })
            }
        },
        created: function () {
            var date = new Date()
            var timeUrl = '?startYear=' + date.getFullYear() + '&startMonth=' + (parseInt(date.getMonth()) + 1) + '&endYear=' + date.getFullYear() + '&endMonth=' + (parseInt(date.getMonth()) + 1)
            this.getData(timeUrl)
            loadHtml("mainPage", "partPage")
        }
    })

    //折线图
    lineChart = echarts.init(document.getElementById('lineChart'));
    lineOption = {
        title: {
            text: '质量统计图',
            x: 'center'
        },
        legend: {
            data: ['硫化后外观合格率', '硫化前外观合格率','大底拉力合格点占比','鞋面拉力合格点占比','折弯疲劳合格率'],
            x: 'left'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: {
                    show: true,
                    type: ['line', 'bar']
                },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: []
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} %'
                }
            }
        ],
        series: [
            {
                name: '硫化后外观合格率',
                type: 'line',
                data: [0],
                markPoint: {
                    data: [
                        { type: 'max', name: '硫化后外观合格率' }
                    ]
                },
            },
            {
                name: '硫化前外观合格率',
                type: 'line',
                data: [0],
                markPoint: {
                    data: [
                        { type: 'max', name: '硫化前外观合格率' }
                    ]
                },
            }, {
                name: '大底拉力合格点占比',
                type: 'line',
                data: [0],
                markPoint: {
                    data: [
                        { type: 'max', name: '大底拉力合格点占比' }
                    ]
                },
            },{
                name: '鞋面拉力合格点占比',
                type: 'line',
                data: [0],
                markPoint: {
                    data: [
                        { type: 'max', name: '鞋面拉力合格点占比' }
                    ]
                },
            }, {
                name: '折弯疲劳合格率',
                type: 'line',
                data: [0],
                markPoint: {
                    data: [
                        { type: 'max', name: '折弯疲劳合格率' }
                    ]
                },
            }
        ]
    };
    //折线图 -- 产量
    lineChart2 = echarts.init(document.getElementById('lineChart2'));
    lineOption2 = {
        title: {
            text: '产量统计图',
            x: 'center'
        },
        legend: {
            data: ['产量'],
            x: 'left'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: {
                    show: true,
                    type: ['line', 'bar']
                },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: []
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 只'
                }
            }
        ],
        series: [
            {
                name: '产量',
                type: 'line',
                data: [0],
                markPoint: {
                    data: [
                        { type: 'max', name: '产量' }
                    ]
                },
            }
        ]
    };
    //lineChart.setOption(lineOption);
    //柱状图
    barChart = echarts.init(document.getElementById('barChart'));
    barOption = {
        title: {
            text: '用料统计图',
            x: 'center'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                data: ['标签','大底','护齿','围条']
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 个'
                }
            }
        ],
        series: [
            {
                name: '用料统计图',
                type: 'bar',
                itemStyle: {
                    normal: {
                        label: {
                            show: true,
                            position: 'top',
                            formatter: '{c}'
                        }
                    }
                },
                data: [0]
            }
        ]
    };
    //barChart.setOption(barOption);
</script>



