@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage">
 
    <el-collapse v-model="activeNames">
        <el-collapse-item :title="lineData[0].ProductLineName" name="1">
            <el-form :model="form" class="demo-form-inline"
                     size="medium" :rules="rules" ref="form">
                <el-form-item label="功能选择" prop="date">
                    <el-select v-model="form.dateOption" placeholder="请选择">
                        <el-option v-for="d in dateOptions"
                                   :key="d.key"
                                   :label="d.value"
                                   :value="d.key">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="日期选择" prop="date">
                    <el-date-picker v-model="form.date"
                                    type="date"
                                    v-show="form.dateOption == 1"
                                    @*value-format="yyyy-MM-dd"*@
                                    placeholder="选择日期">
                    </el-date-picker>
                    <el-date-picker v-model="form.date"
                                    v-show="form.dateOption == 2"
                                    type="month"
                                    @*value-format="yyyy-MM"*@
                                    placeholder="选择月">
                    </el-date-picker>
                    <el-date-picker v-model="form.date"
                                    v-show="form.dateOption == 3"
                                    type="year"
                                    @*value-format="yyyy"*@
                                    placeholder="选择年">
                    </el-date-picker>
                    <el-date-picker v-model="form.dateRange"
                                    type="daterange"
                                    v-show="form.dateOption == 4"
                                    :picker-options="pickerOptions"
                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                    </el-date-picker>
                    <el-button type="primary" v-on:click="onFilter('form')">搜索</el-button>
                </el-form-item>
            </el-form>
            <el-table :data="tableData" stripe border>
                <el-table-column v-for="opt in allOptions" :prop="opt" :key="opt"  :width="lenOptions[opt]" :label="tableOptions[opt]"></el-table-column>
            </el-table>
            <!--图形展示-->
            @*<div id="barChart" style="height:400px;width:49%;float:left;border:solid 1px rgb(128, 128, 128)"></div>
            <div id="radarChart" style="height:400px;width:49%;float:left;border:solid 1px rgb(128, 128, 128)"></div>*@
        </el-collapse-item>
        @*<el-collapse-item :title="lineData[1].ProductLineName" name="2">
            <div>暂无数据</div>
        </el-collapse-item>*@
    </el-collapse>
</el-main>


<script>
    var radarChart, barChart, barOption
    var    date1 = new Date();
    date1.setTime(date1.getTime() - 24 * 60 * 60 * 1000);
    var currentdate = _dateToString(date1);

    var tableOptions = {
        DeviceName: "设备名称",
        DeviceModel: "设备型号",
        ProductionT: "日期",
        PlanPowerOnT: "计划开机时间/h",
        RunT: "运行时间/h",
        FreeT: "空闲时间/h",
        AvgRunT: "运行周期/s",
        WarnT: "报警时间/h",
        WarnC: "报警次数",
        AvgWarnT: "平均报警时间/s",
        AvgWarnInter: "平均报警间隔/s",
        FirstWarnInter: "平均首次报警时间/s",
        Days: "天数"
    }
     
    var allOptions = []
    var lenOptions = {
        DeviceName: 150,
 
        ProductionT: 200,
        PlanPowerOnT: 120,
       
        AvgWarnT: 120,
        AvgWarnInter: 120,
        FirstWarnInter: 150 
         
    }
    for (var c in tableOptions) {
        if (typeof (c) == 'string') allOptions.push(c)
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                tableData: [],
                lineData: getLocalObj("lineData"),
                activeNames: ['1'],
                dateOptions: [
                    {
                        key: 1,
                        value: '按日统计'
                    },
                    {
                        key: 2,
                        value: '按月统计'
                    },
                    {
                        key: 3,
                        value: '按年统计'
                    },
                    {
                        key: 4,
                        value: '按阶段统计'
                    }
                ],
                allOptions: allOptions,
                tableOptions: tableOptions,
                lenOptions: lenOptions,
              
                form: {
                    dateOption: 1,
                    dateRange: [],
                    date: currentdate
                }
            }
        },
        methods: {
            onFilter: function (formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var year, month, day, dateRange = [], paramObj = {} 
                        if (that.form.dateOption!=4) {
                            year = new Date(that.form.date).getFullYear() 
                            month = new Date(that.form.date).getMonth() + 1
                            day = new Date(that.form.date).getDate()
                            if (month < 10) month = '0' + month
                            if (day < 10) day = '0' + day
                        }
                       else if (that.form.dateRange.length > 0) {
                           
                            dateRange.push(_dateToString(that.form.dateRange[0]))
                            dateRange.push(_dateToString(that.form.dateRange[1]))
                        }
                        switch (that.form.dateOption) {
                            case 1:
                                paramObj = {
                                    url: '/Reports/DeviceDailyRpt',
                                    param: {
                                        begintime: year + '-' + month + '-' + day,
                                        groupid: 1
                                    }
                                }
                                break;
                            case 2:
                                paramObj = {
                                    url: '/Reports/DeviceMonthRpt',
                                    param: {
                                        begintime: year + '-' + month,
                                        groupid: 1
                                    }
                                }
                                break;
                            case 3:
                                paramObj = {
                                    url: '/Reports/DeviceYearRpt',
                                    param: {
                                        begintime: year,
                                        groupid: 1
                                    }
                                }
                                break;
                            case 4:
                                paramObj = {
                                    url: '/Reports/DevicePhaseRpt',
                                    param: {
                                        begintime:  dateRange[0],
                                        endtime:  dateRange[1],
                                        groupid: 1
                                    }
                                }
                                break;
                        }
                        console.log(paramObj)
                        that.getRuntimeData(paramObj)
                    } else {
                        return false;
                    }
                });
                return
                //var lineData = getLocalObj("lineData")
                //console.log(lineData)
                //var date = new Date()
                //var dateStr = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
                
            },
            //获取运行状态数据
            getRuntimeData: function (obj) {
                var that = this
                var url = obj.url + _formatQueryStr(obj.param)
                $.ajax({
                    url: url,
                    //dataType: 'json',
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log('获取运行状态数据')
                        console.log(url)
                        console.log(data.length)
                         
                         
                        that.tableData = data
                    
                         
                      
                    },
                    error: function (err) {
                        console.error(err)
                    }
                })
            },
        },
        created: function () {
            var that = this
            loadHtml("mainPage", "partPage")
        }
    })

     
</script>


