@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>


<script>
    var lineChart, areaChart, barChart, lineOption, areaOption, barOption
    var barTableConfig = {
        BiaoQianConsumption: "标签用量",
        DaDiConsumption: "大底用量",
        HuChiConsumption: "护齿用量",
        WeiTiaoConsumption: "围条用量"
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                imgSrc:""
            }
        },
        methods: {

        },
        created: function () {
            var that = this
            loadHtml("mainPage", "partPage")
            var lineData = getLocalObj("lineData")
            var date = new Date()
            var dateStr = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
            dateStr = '2018-05-11'
            console.log(dateStr)
            intervalId = window.setInterval(function () {
                getLineData({ DataTime: dateStr, Count: 100 })
                getAreaData({ DataTime: dateStr, dura: 30})
                getBarData({
                    OrderId: getLocalObj("lineData").OrderID,
                    ChildId: getLocalObj("lineData").ChildID
                })
            }, 50000)
            getLineData({ DataTime: dateStr, Count: 100 })
            getAreaData({ DataTime: dateStr, dura: 30 })
            getBarData({ OrderId: getLocalObj("lineData").OrderID, ChildId: getLocalObj("lineData").ChildID })
            //echart canvas生成图片
            window.setTimeout(function () {
                //var oCanvas = $(".zr-element")[1]
                //var strDataURI = oCanvas.toDataURL("image/png");
                //console.log(strDataURI)
                //that.imgSrc = strDataURI
            }, 2000)
            
        }
    })
    //折线图
    lineChart = echarts.init(document.getElementById('lineChart'));
    lineOption = {
        title: {
            text: '产量增长图',
            x: 'center'
        },
        legend: {
            data: ['当班产量', '预加工量'],
            x:'left'
        },
        tooltip: {
            trigger: 'axis'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                magicType: {
                    show: true,
                    type: ['line', 'bar']
                },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00']
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 只'
                }
            }
        ],
        series: [
            {
                name: '当班产量',
                type: 'line',
                data: [0, 11, 25, 33, 52, 63, 70],
                markPoint: {
                    data: [
                        { type: 'max', name: '当班产量' }
                    ]
                },
            },
            {
                name: '预加工量',
                type: 'line',
                data: [100, 100, 100, 100, 100, 100, 100],
                markPoint: {
                    data: [
                        { type: 'max', name: '预加工量' }
                    ]
                },
            }
        ]
    };
    lineChart.setOption(lineOption);

    //面积图
    areaChart = echarts.init(document.getElementById('areaChart'));
    areaOption = {
        title: {
            text: '产量统计图',
            x: 'center'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['硫化鞋'],
            x: 'left'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00']
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 只/小时'
                }
            }
        ],
        series: [
            {
                name: '硫化鞋',
                type: 'line',
                smooth: true,
                itemStyle: { normal: { areaStyle: { type: 'default' } } },
                data: [21, 54, 260, 830, 710, 10, 12]
            }
        ]
    }
    areaChart.setOption(areaOption)
    //柱状图
    barChart = echarts.init(document.getElementById('barChart'));
    barOption = {
        title: {
            text: '用料统计图',
            x: 'center'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        grid: {
            borderWidth: 0,
            y: 80,
            y2: 60
        },
        xAxis: [
            {
                type: 'category',
                show: false,
                data: ['围条用量', '护齿用量', '标签用量', '大底用量']
            }
        ],
        yAxis: [
            {
                type: 'value',
                show: false
            }
        ],
        series: [
            {
                name: '用料统计',
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: function (params) {
                            // build a color map as your need.
                            var colorList = [
                                '#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
                                '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
                                '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
                            ];
                            return colorList[params.dataIndex]
                        },
                        label: {
                            show: true,
                            position: 'top',
                            formatter: '{b}\n{c}'
                        }
                    }
                },
                data: [70, 71, 75, 83]
            }
        ]
    };
    barChart.setOption(barOption);
    //获取产量图数据
    function getLineData(param) {
        $.ajax({
            url: "/Statistics/GetCurrentProduction" + _formatQueryStr(param),
            success: function (data) {
                var xArr = [], y1Arr = [], y2Arr = []
                console.log("获取产量图数据")
                console.log(data)
                data = JSON.parse(data).Rows
                for (let d = 0; d < data.length;d++) {
                    xArr.push(data[d].ID_RealTimeUsage)
                    y1Arr.push(parseInt(data[d].NowN))
                    y2Arr.push(parseInt(data[d].ChildN))
                }
                lineOption.xAxis[0].data = xArr
                lineOption.series[0].data = y1Arr
                lineOption.series[1].data = y2Arr
                lineChart.setOption(lineOption)
            }
        })
    }
    //获取生产速度数据
    function getAreaData(param) {
        $.ajax({
            url: "/Statistics/GetYieldFluct" + _formatQueryStr(param),
            success: function (data) {
                console.log("获取生产速度数据")
                console.log(data)
                data = JSON.parse(data).Rows
                var xArr = [], yArr = []
                for (var d in data) {
                    xArr.push(data[d].ID_RealTimeUsage)
                    yArr.push(data[d].CurrN)
                }
                areaOption.xAxis[0].data = xArr
                areaOption.series[0].data = yArr
                areaChart.setOption(areaOption)
            }
        })
    }
    //获取用量图数据
    function getBarData(param) {
        $.ajax({
            url: "/Statistics/GetDosageInfo"+_formatQueryStr(param),
            success: function (data) {
                data = JSON.parse(data)[0]
                var xArr = [], yArr = []
                for (var d in data) {
                    xArr.push(barTableConfig[d])
                    yArr.push(data[d])
                }
                barOption.xAxis[0].data = xArr
                barOption.series[0].data = yArr
                barChart.setOption(barOption)
            }
        })
    }
</script>


<el-main id="partPage">
    <div>
        <div id="lineChart" style="height:300px;"></div>
        <div id="areaChart" style="height:300px;"></div>
        <div id="barChart" style="height:300px;"></div>
        <img id="hideImg" src="" />
    </div>
</el-main>
