@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage" style="height:500px;">
    <!--查詢表單-->
    <el-form :inline="true" :model="formInline" ref="formInline" :rules="rules" class="demo-form-inline"
             size="medium">
        <el-form-item label="二维码号" prop="qrCode">
            <el-input v-model="formInline.qrCode"
                      placeholder="请输入鞋子二维码"></el-input>
        </el-form-item>
        <el-form-item label="工位" prop="stationId">
            <el-select v-model="formInline.stationId">
                <el-option v-for="s of stations" :label="s.Value" :value="s.Key" key="s.Key"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="search('formInline')">搜索</el-button>
        </el-form-item>
    </el-form>

    <div id="lineChart" style="height:300px;"></div>
</el-main>

<script>
    var paramOption = []
    var lineChart, lineOption
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                formInline: {
                    qrCode: '',
                    stationId :''
                },
                stations: []
            }
        },
        methods: {
            search: function (formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    that.getData()
                    intervalId = window.setInterval(function () {
                        that.getData()
                    }, 50000)
                })
            },
            //获取单品质量分析工位列表
            getStations: function () {
                var that = this
                $.ajax({
                    url: '/SingleQuality/GetSingleQualityStation',
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log('获取单品质量分析工位列表')
                        console.log(data)
                        that.stations = data
                    }
                })
            },
            //查询单品单工位实时数据
            getData: function () {
                var that = this
                var param = {
                    RFID: this.formInline.qrCode,
                    Spray: this.formInline.stationId
                }
                console.log(param)
                var url = '/SingleQuality/GetSingleQualityByRFIDandSpray' + _formatQueryStr(param)
                $.ajax({
                    url: url,
                    success: function (data) {
                        var xArr = [], y1Arr = [], y2Arr = [], y3Arr = [], y4Arr = [], y5Arr = [], y6Arr = [], y7Arr = []
                        data = JSON.parse(data)
                        console.log('查询单品单工位实时数据')
                        console.log(url)
                        console.log(data)
                        for (var d in data) {
                            console.log(111)
                            console.log(param.Spray)
                            xArr.push(data[d][param.Spray + 'ID'])
                            y1Arr.push(data[d].AtomizationPressure)
                            y2Arr.push(data[d].MaterialPressure)
                            y3Arr.push(data[d].GlueWeight)
                            y4Arr.push(data[d].FlowMeter)
                            y5Arr.push(data[d].OvenTemperatureNow)
                            y6Arr.push(data[d].StateN)
                            y7Arr.push(data[d].ErrorN)
                        }
                        lineOption.xAxis[0].data = xArr
                        lineOption.series[0].data = y1Arr
                        lineOption.series[1].data = y2Arr
                        lineOption.series[2].data = y3Arr
                        lineOption.series[3].data = y4Arr
                        lineOption.series[4].data = y5Arr
                        lineOption.series[5].data = y6Arr
                        lineOption.series[6].data = y7Arr

                        console.log('//////////////////')
                        console.log(xArr)
                        console.log(y1Arr)
                        console.log(y2Arr)
                        console.log(y3Arr)
                        console.log(y4Arr)
                        console.log(y5Arr)
                        console.log(y6Arr)
                        console.log(y7Arr)
                        console.log('//////////////////')

                        lineChart.setOption(lineOption)
                    }
                })
            }
        },
        created: function () {
            this.getStations()
            loadHtml("mainPage", "partPage")
        }
    })
    var realTimeData = {
        name: '鞋面喷胶站信息实时数据表',
        params: ['雾化压力', '物料压力', '胶重', '流量计', '烤箱实时温度', '机器人状态号', '机器人报警号'],
        time: ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '18:00', '19:00', '20:00', '121:00', '22:00', '23:00', '24:00'],
        dada: {

        }
    }
    lineChart = echarts.init(document.getElementById('lineChart'));
    lineOption = {
        title: {
            text: realTimeData.name,
            x: 'left'
        },
        legend: {
            data: realTimeData.params,
            //orient: 'vertical',
            x: 'right'
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: realTimeData.time
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {
                name: '雾化压力',
                type: 'line',
                data: [],
                markPoint: {
                    data: [
                        { type: 'max', name: '最大压力' },
                        { type: 'min', name: '最小压力' }
                    ]
                }
            },
            {
                name: '物料压力',
                type: 'line',
                data: []
            },
            {
                name: '胶重',
                type: 'line',
                data: []
            },
            {
                name: '流量计',
                type: 'line',
                data: []
            },
            {
                name: '烤箱实时温度',
                type: 'line',
                data: []
            },
            {
                name: '机器人状态号',
                type: 'line',
                data: []
            },
            {
                name: '机器人报警号',
                type: 'line',
                data: []
            }
        ]
    };
    //lineChart.setOption(lineOption);
</script>



