@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage">
    <div id="barChart" style="height:400px;"></div>
</el-main>

<script>
    var date = new Date('2018/03/0')
    console.log(date.getDate())
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                formInline: {
                    year: '',
                    month: ''
                }
            }
        },
        methods: {
           
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })

    //柱状图
    var barChart = echarts.init(document.getElementById('barChart'));
    barOption = {
        title: {
            text: '生产节拍统计图',
            x: 'center'
        },
        legend: {
            data: ['运行', '空闲', '报警'],
            x: 'left'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'value',
                boundaryGap: [0, 0.01]
            }
        ],
        yAxis: [
            {
                type: 'category',
                data: ['视觉', '烤箱', '胶站', '人工', '十字压', '压底']
            }
        ],
        series: [
            {
                name: '运行',
                type: 'bar',
                stack: '总量',
                itemStyle: { normal: { color: '#67C23A', label: { show: true, position: 'insideRight' } } },
                data: [320, 302, 301, 334, 390, 330, 320],
                color: '#222'
            },
            {
                name: '空闲',
                type: 'bar',
                stack: '总量',
                itemStyle: { normal: { color: '#E6A23C', label: { show: true, position: 'insideRight' } } },
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '报警',
                type: 'bar',
                stack: '总量',
                itemStyle: { normal: { color: '#F56C6C', label: { show: true, position: 'insideRight' } } },
                data: [220, 182, 191, 234, 290, 330, 310]
            }
        ]
    };
    barChart.setOption(barOption);
</script>
