@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage">
    <!--查詢表單-->
    <el-form :inline="true" :model="formInline" class="demo-form-inline"
             size="medium">

        <el-form-item label="总订单">
            <el-input v-model="formInline.OrderId">
            </el-input>
        </el-form-item>
        <el-form-item label="子订单时间">
            <el-date-picker v-model="formInline.OrderTime"
                            type="daterange"
                            :picker-options="pickerOptions"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
            </el-date-picker>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" v-on:click="getData">搜索</el-button>
        </el-form-item>
        
    </el-form>
    <div id="chart" style="height:500px;"></div>
</el-main>

<script>
    var myChart = {}
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                formInline: {
                    OrderId: '',
                    OrderTime: ''
                }
            }
        },
        methods: {
            //获取数据
            getData() {
                let that = this
                let searchParam = {}
                let formInline = this.formInline
                var date = new Date()
                for (let p in formInline) {
                    if (formInline[p] == '' || formInline[p] == null) continue
                    if (p == 'OrderTime') {
                        searchParam['StartTime'] = _dateToString(formInline[p][0], '-')
                        searchParam['EndTime'] = _dateToString(formInline[p][1], '-')
                    } else {
                        searchParam[p] = formInline[p]
                    }
                }
                console.log(_formatQueryStr(searchParam))
                $.ajax({
                    url: "/Quality/GetBatchQuality" + _formatQueryStr(searchParam),
                    dataType: 'json',
                    success: function (data) {
                        that.loadRadarData(data)
                    },
                    error: function (err) {
                        console.error(err)
                    }
                })
                $.ajax({
                    url: "/Quality/GetQualityCounts" + _formatQueryStr(searchParam),
                    dataType: 'json',
                    success: function (data) {
                        that.loadPieData(data)
                    },
                    error: function (err) {
                        console.error(err)
                    }
                })
            },
            loadRadarData(data) {
                if (data.Rows instanceof Array) {
                    var radarValue = []
                    for (let q in QUALITY_RADAR) {
                        radarValue.push(parseFloat(data.Rows[data.Rows.length - 1][q]))
                    }
                    myChart.addData([
                        [
                            1,        // 系列索引
                            {         // 新增数据
                                name: '质量参数',
                                value: radarValue
                            },
                            false,     // 新增数据是否从队列头部插入
                            false      // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
                        ]
                    ]);
                }
            },
            loadPieData(data) {
                var value = []
                for (let q in QUALITY_PIE) {
                     myChart.addData([
                        [
                            0,        // 系列索引
                            {         // 新增数据
                                name: QUALITY_PIE[q],
                                value: parseInt(data[q])
                            },
                            false,     // 新增数据是否从队列头部插入
                            false      // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
                        ]
                    ]);
                }
            }
        },
        created: function () {
            this.getData()
            loadHtml("mainPage", "partPage")
        }
    })
    //图表参数
    myChart = echarts.init(document.getElementById('chart'));
    var radarName = []
    var pieName = []
    for (let r in QUALITY_RADAR) {
        radarName.push({
            text: QUALITY_RADAR[r]
        })
    }
    for (let p in QUALITY_PIE) {
        pieName.push(QUALITY_PIE[p])
    }
    option = {
        title: {
            text: '质量分析'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            data: pieName
        },
        toolbox: {
            show: true,
            feature: {
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        polar: [
            {
                indicator: radarName,
                center: [document.getElementById('chart').offsetWidth - 250, 225],
                radius: 120
            }
        ],
        calculable: false,
        series: [
            {
                name: '品质分析',
                type: 'pie',
                radius: [0, 110],
                center: [250, 225],
                data: [
                    {
                        name: 'A等',
                        value: Math.round(Math.random() * 10)
                    },
                    {
                        name: 'B等',
                        value: Math.round(Math.random() * 10)
                    },
                    {
                        name: 'C等',
                        value: Math.round(Math.random() * 10)
                    }]
            },
            {
                name: 'radar',
                type: 'radar',
                itemStyle: { normal: { areaStyle: { type: 'default' } } },
                data: [{
                    name: '质量参数',
                    value: [
                        Math.round(Math.random() * 100),
                        Math.round(Math.random() * 100),
                        Math.round(Math.random() * 100),
                        Math.round(Math.random() * 100),
                        Math.round(Math.random() * 100)
                    ]
                }]
            }
        ]
    };
    myChart.setOption(option);
</script>



