@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage">
    <div v-show="showMask">
        <div class="mask"></div>
    </div>
    
    <el-collapse v-model="activeNames">
        <el-collapse-item title="宝发硫化鞋生产线01" name="1">
            <div id="imgFrame" style="margin-bottom:30px;position:relative;width:900px;height:430px;">
                <img src="~/Content/images/deviceMonitor.png" style="width:900px;height:430px;"/>
                <!--设备状态按钮-->
                <template v-for="(btn,index) of deviceBtns">
                    <sam-devicebtn :param="btn" :index="index"></sam-devicebtn>
                </template>
                <i v-if="showMask" class="el-icon-error" v-on:click="restoreScreen" style="position:absolute;right:40px;bottom:20px;font-size:40px;"></i>
                <i v-else class="el-icon-rank" v-on:click="changeFullScreen" style="position:absolute;right:40px;bottom:20px;font-size:40px;"></i>
            </div>
        </el-collapse-item>
        <el-collapse-item title="宝发硫化鞋生产线02" name="2">
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>视觉站1</p>
                <div><span>状态</span>&nbsp;<el-tag type="success">正常</el-tag></div>
                <div><span>状态号</span>&nbsp;<el-tag type="success">0</el-tag></div>
                <div><span>报警号</span>&nbsp;<el-tag type="success">0</el-tag></div>
            </div>
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>视觉站2</p>
                <div><span>状态</span>&nbsp;<el-tag type="danger">异常</el-tag></div>
                <div><span>状态号</span>&nbsp;<el-tag type="danger">1</el-tag></div>
                <div><span>报警号</span>&nbsp;<el-tag type="danger">1</el-tag></div>
            </div>
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>视觉站3</p>
                <div><span>状态</span>&nbsp;<el-tag type="info">离线</el-tag></div>
                <div><span>状态号</span>&nbsp;<el-tag type="info">0</el-tag></div>
                <div><span>报警号</span>&nbsp;<el-tag type="info">0</el-tag></div>
            </div>
        </el-collapse-item>
        <el-collapse-item title="华宝硫化鞋生产线03" name="3">
            <div>暂无数据</div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    //vue组件-设备按钮显示
    Vue.component('sam-devicebtn', {
        props: ['param', 'index'],
        template: `<el-tooltip :placement="param.tooltip.placement" effect="light" class="tips">
                        <div slot="content" :style="{fontSize:param.tooltip.font_size}">
                            <template v-for="t in param.tips">
                                {{t}} : {{param.tips[t]}}
                                 <br />
                            </template>
                        </div>
                        <div v-on:mouseover="showMore=true" v-on:mouseout="showMore=false"
                             class="device-button" :class="theme.mainClass"
                            :style="{left:param.position.left,top:param.position.top}">
                            <span>{{param.name}}</span>
                            <el-button :type="theme.warnType" round class="device-status">{{theme.text}}</el-button>
                            <el-collapse-transition>
                                <div v-show="showMore">
                                    <hr :style="{color:theme.color}" />
                                    <template v-for="(d,i) in param.detail">
                                        {{i}} : {{d}}
                                         <br />
                                    </template>
                                </div>
                            </el-collapse-transition>
                        </div>
                    </el-tooltip>`,
        data: function () {
            let theme
            switch (this.param.status) {
                case 0: theme = {
                    mainClass: 'device-button-info',
                    warnType: 'info',
                    text: '离线',
                    color: '#909399'
                }; break;
                case 2: theme = {
                    mainClass: 'device-button-warning',
                    warnType: 'warning',
                    text: '警告',
                    color: '#E6A23C'
                }; break;
                case 3: theme = {
                    mainClass: 'device-button-danger',
                    warnType: 'danger',
                    text: '危险',
                    color: '#F56C6C'
                }; break;
                default: theme = {
                    mainClass: 'device-button-success',
                    warnType: 'success',
                    text: '正常',
                    color: '#67C23A'
                };
            }
            return {
                showMore: false,
                theme: theme
            }
        }
    })
    var img = $("#imgFrame img").find("img")[0]
    var deviceBtnsParam = [
        {
            num: 1,
            name: '视觉1号站',
            tooltip: {
                disabled: false,
                placement: 'top'
            },
            position: {
                top: '93.02%',
                left: '0.56%'
            }
        }, {
            num: 2,
            name: '鞋面喷胶站',
            tooltip: {
                disabled: false,
                placement: 'right'
            },
            position: {
                top: '63.95%',
                left: '0.56%'
            }
        }, {
            num: 3,
            name: '鞋面烤箱',
            tooltip: {
                disabled: false,
                placement: 'top'
            },
            position: {
                top: '58.14%',
                left: '0.56%'
            }
        }, {
            num: 4,
            name: '大底烤箱',
            tooltip: {
                disabled: false,
                placement: 'top'
            },
            position: {
                top: '45.35%',
                left: '0.56%'
            }
        }, {
            num: 5,
            name: '压底机',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '37.67%',
                left: '15.56%'
            }
        }, {
            num: 6,
            name: '视觉2号站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '31.16%',
                left: '15.56%'
            }
        }, {
            num: 7,
            name: '围条一胶站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '24.42%',
                left: '15.56%'
            }
        }, {
            num: 8,
            name: '围条二胶站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '17.67%',
                left: '15.56%'
            }
        }, {
            num: 9,
            name: '围一烤箱',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '14.80%',
                left: '30.56%'
            }
        }, {
            num: 10,
            name: '围二烤箱',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '8.84%',
                left: '30.56%'
            }
        }, {
            num: 11,
            name: '围条三胶站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '2.60%',
                left: '30.56%'
            }
        }, {
            num: 12,
            name: '围三烤箱',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '2.79%',
                left: '84.88%'
            }
        }, {
            num: 13,
            name: '视觉3号站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '9.30%',
                left: '84.88%'
            }
        }, {
            num: 14,
            name: '围条贴附1号站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '46.51%',
                left: '84.88%'
            }
        }, {
            num: 15,
            name: '围条贴附2号站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '53.49%',
                left: '84.88%'
            }
        }, {
            num: 16,
            name: '护齿喷胶站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '62.79%',
                left: '70%'
            }
        }, {
            num: 17,
            name: '十字压站',
            tooltip: {
                disabled: false,
                placement: 'left'
            },
            position: {
                top: '73.49%',
                left: '70%'
            }
        }]
    var devices = [{
        num: 1,
        status: 0,
        detail: {
            '机器温度': '66℃',
            '烤箱温度': '160℃'
        },
        tips: {
            '参数1': '参数1',
            '参数2': '参数2'
        }
    },
    {
            num: 2,
            status: 1,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
        },
        {
            num: 3,
            status: 2,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
    },
    {
        num: 4,
        status: 3,
        detail: {
            '机器温度': '66℃',
            '烤箱温度': '160℃'
        },
        tips: {
            '参数1': '参数1',
            '参数2': '参数2'
        }
        },
        {
            num: 5,
            status: 1,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
    },
    {
        num: 6,
        status: 3,
        detail: {
            '机器温度': '66℃',
            '烤箱温度': '160℃'
        },
        tips: {
            '参数1': '参数1',
            '参数2': '参数2'
        }
        },
        {
            num: 7,
            status: 2,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
    },
    {
        num: 8,
        status: 1,
        detail: {
            '机器温度': '66℃',
            '烤箱温度': '160℃'
        },
        tips: {
            '参数1': '参数1',
            '参数2': '参数2'
        }
        },
        {
            num: 9,
            status: 1,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
    },
    {
        num: 10,
        status: 1,
        detail: {
            '机器温度': '66℃',
            '烤箱温度': '160℃'
        },
        tips: {
            '参数1': '参数1',
            '参数2': '参数2'
        }
        },
        {
            num: 11,
            status: 3,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
    },
    {
        num: 12,
        status: 1,
        detail: {
            '机器温度': '66℃',
            '烤箱温度': '160℃'
        },
        tips: {
            '参数1': '参数1',
            '参数2': '参数2'
        }
        },
        {
            num: 13,
            status: 1,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
    },
    {
        num: 14,
        status: 1,
        detail: {
            '机器温度': '66℃',
            '烤箱温度': '160℃'
        },
        tips: {
            '参数1': '参数1',
            '参数2': '参数2'
        }
        },
        {
            num: 15,
            status: 0,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
    },
    {
        num: 16,
        status: 2,
        detail: {
            '机器温度': '66℃',
            '烤箱温度': '160℃'
        },
        tips: {
            '参数1': '参数1',
            '参数2': '参数2'
        }
        },
        {
            num: 17,
            status: 0,
            detail: {
                '机器温度': '66℃',
                '烤箱温度': '160℃'
            },
            tips: {
                '参数1': '参数1',
                '参数2': '参数2'
            }
    }]
    var deviceButtoCss = {}
    var deviceStatusCss = {}
    var imgWidth = 900
    var imgHeight = 430
    for (let param of deviceBtnsParam) {
        for (let dev of devices) {
            if (param.num == dev.num) {
                for (let p in dev) {
                    param[p]=dev[p]
                }
                break;
            }
        }
    }

    var index = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: ['1'],
                deviceBtns: DEVICES,
                showMask:false
            }
        },
        methods: {
            changeFullScreen: function () {
                var screenHeight = window.screen.height;
                var screenWidth = window.screen.width;
                var scale = screenWidth / 900;
                this.showMask = true;
                deviceButtoCss = {
                    "width": parseInt($(".device-button").css("width")),
                    "font-size": parseInt($(".device-button").css("font-size")),
                    "border-radius": parseInt($(".device-button").css("border-radius")),
                    "padding-left": parseInt($(".device-button").css("padding-left"))
                }
                deviceStatusCss = {
                    "padding": parseInt($(".device-status").css("padding")),
                    "font-size": parseInt($(".device-status").css("font-size")),
                    "line-height": parseInt($(".device-status").css("line-height"))
                }
                console.log('padding = ' + $(".device-button").css("padding"));
                $("#imgFrame").css({ "width": screenWidth + 'px', "height": imgHeight * scale + 'px', "position": "absolute", "top": "0", "left": "0" })
                $("#imgFrame").find("img").css({ "width": screenWidth + 'px', "height": imgHeight * scale + 'px' })
                $("body").css({ "overflow": "hidden" })
                for (let param of deviceBtnsParam) {
                    param.tooltip.font_size="21px"
                }
                for (let css in deviceButtoCss) {
                    $(".device-button").css(css,deviceButtoCss[css]*scale+'px')
                }
                for (let css in deviceStatusCss) {
                    css == "padding" ? $(".device-status").css("cssText", css+":"+Math.ceil(deviceStatusCss[css] * scale) + 'px !important;') : $(".device-status").css(css, deviceStatusCss[css] * scale + 'px')
                }

            },
            restoreScreen: function () {
                $("#imgFrame").css({ "width": imgWidth + 'px', "height": imgHeight + 'px', "position": "relative", "top": "0", "left": "0" })
                $("#imgFrame").find("img").css({ "width": imgWidth + 'px', "height": imgHeight + 'px' })
                $("body").css({ "overflow": "scroll" })
                for (let param of deviceBtnsParam) {
                    param.tooltip.font_size = "12px"
                }
                for (let css in deviceButtoCss) {
                    $(".device-button").css(css, deviceButtoCss[css] + 'px')
                }
                for (let css in deviceStatusCss) {
                    css == "padding" ? $(".device-status").css("cssText", css + ":" + deviceStatusCss[css] + 'px !important;') : $(".device-status").css(css, deviceStatusCss[css] + 'px')
                    console.log(css + ' = ' + $(".device-status").css(css))
                }
                this.showMask = false;
            }
        },
        created: function () {
            loadHtml("mainPage", "partPage")
            var that = this
            $.ajax({
                url: '/api/dt/GetAllTable?strMessage=GetAllTable',
                dataType: 'json',
                success: function (data) {
                    let devData = JSON.parse(JSON.parse(data))
                    for (let dev of that.deviceBtns) {
                        if (dev.detail) {
                            
                            for (let det in dev.detail) {
                                for (let d in devData) {
                                    let dObj = devData[d][0]
                                    if (dObj.RFIDN == dev.RFIDN) {
                                        
                                        console.log(dObj[dev.detail[det]])
                                        if (dObj[dev.detail[det]] && dObj[dev.detail[det]] != '') {
                                            console.log(1)
                                            console.log(dObj[dev.detail[det]])
                                            dev.detail[det] = dObj[dev.detail[det]]
                                            //dev.detail[det] = '123'
                                        }
                                        else {
                                            console.log(0)
                                            delete dev.detail[det]
                                        }

                                    }
                                }
                            }
                        }
                    }
                    console.log(devData)
                    console.log(that.deviceBtns)
                }
            })
        }
    })

</script>



