@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>泉州华中科技大学智能制造研究院</title>
    <link rel="stylesheet" href="~/Content/element.css" />
    <link rel="stylesheet" href="~/Content/display.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script>
        var lineChart, barChart, lineOption, barOption
        var _cloneObj = function (obj) {
            var newObj = {}
            for (let o in obj) {
                newObj[o] = obj[o]
            }
            return newObj
        }
        function _formatQueryStr(obj) {
            var queryStr = '?'
            for (var o in obj) {
                queryStr = queryStr + o + '=' + obj[o] + '&'
            }
            return queryStr.substring(0, queryStr.length - 1)
        }
    </script>
    <script src="~/Scripts/config.js"></script>
    <script src="~/Scripts/ezuikit.js"></script>
    <script src="~/Scripts/echarts-all.js"></script>

</head>
<body id="body" style="background-color:white;">
    <div id="app">
        <el-header>
        </el-header>
        <el-container>
            <el-main>
                <div>
                    <div class="el-container" style="border: 1px solid #eee">

                        <!--右侧实体内容-->

                        <el-main id="partPage">
                            <div>
                                <div id="lineChart" style="height:300px;width:800px;"></div>
                                <hr />
                                <div id="barChart" style="height:300px;width:800px;"></div>
                                <hr />
                                <div id="pieChart" style="height:500px;width:800px;"></div>
                                <hr />
                                <img id="hideLineImg" src="" />
                                <hr />
                                <img id="hideBarImg" src="" />
                                <hr />
                                <img id="hidePieImg" src="" />
                            </div>
                        </el-main>

                        <script>
                            //function _cloneObj(obj) 
                          
                            var lineChart, barChart, lineOption, barOption
                            var barTableConfig = {
                                BiaoQianConsumption: "标签用量",
                                DaDiConsumption: "大底用量",
                                HuChiConsumption: "护齿用量",
                                WeiTiaoConsumption: "围条用量"
                            }
                            var date = new Date()
                            var dateStr = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
                            var lineId = 1
                            //折线图
                            lineChart = echarts.init(document.getElementById('lineChart'));
                            lineOption = {
                                title: {
                                    text: '产量增长图',
                                    x: 'center'
                                },
                                legend: {
                                    data: ['当班产量', '预加工量'],
                                    x: 'left'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    show: true,
                                    feature: {
                                        mark: { show: true },
                                        dataView: { show: true, readOnly: false },
                                        magicType: {
                                            show: true,
                                            type: ['line', 'bar']
                                        },
                                        restore: { show: true },
                                        saveAsImage: { show: true }
                                    }
                                },
                                calculable: true,
                                xAxis: [
                                    {
                                        type: 'category',
                                        boundaryGap: false,
                                        data: ['10', '20','30','40','50']
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        axisLabel: {
                                            formatter: '{value} 双'
                                        }
                                    }
                                ],
                                series: [
                                    {
                                        name: '当班产量',
                                        type: 'line',
                                        data: [0, 10, 30,40,50],
                                        markPoint: {
                                            data: [
                                                { type: 'max', name: '当班产量' }
                                            ]
                                        },
                                    },
                                    {
                                        name: '预加工量',
                                        type: 'line',
                                        data: [100, 100, 100, 100, 100],
                                        markPoint: {
                                            data: [
                                                { type: 'max', name: '预加工量' }
                                            ]
                                        },
                                    }
                                ]
                            };
                            lineChart.setOption(lineOption);
                            
                            //柱状图
                            barChart = echarts.init(document.getElementById('barChart'));
                            barOption = {
                                title: {
                                    text: '用料统计图',
                                    x: 'center'
                                },
                                toolbox: {
                                    show: true,
                                    feature: {
                                        mark: { show: true },
                                        dataView: { show: true, readOnly: false },
                                        restore: { show: true },
                                        saveAsImage: { show: true }
                                    }
                                },
                                calculable: true,
                                grid: {
                                    borderWidth: 0,
                                    y: 80,
                                    y2: 60
                                },
                                xAxis: [
                                    {
                                        type: 'category',
                                        show: false,
                                        data: ['围条用量', '护齿用量', '标签用量', '大底用量']
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        show: false
                                    }
                                ],
                                series: [
                                    {
                                        name: '用料统计',
                                        type: 'bar',
                                        itemStyle: {
                                            normal: {
                                                color: function (params) {
                                                    // build a color map as your need.
                                                    var colorList = [
                                                        '#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
                                                        '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
                                                        '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
                                                    ];
                                                    return colorList[params.dataIndex]
                                                },
                                                label: {
                                                    show: true,
                                                    position: 'top',
                                                    formatter: '{b}\n{c}'
                                                }
                                            }
                                        },
                                        data: [0, 0, 0, 0]
                                    }
                                ]
                            };
                            barChart.setOption(barOption);

                            //饼状图
                            pieChart = echarts.init(document.getElementById('pieChart'));
                            var radarName = []
                            var pieName = []
                            for (var r in QUALITY_RADAR) {
                                radarName.push({
                                    text: QUALITY_RADAR[r]
                                })
                            }
                            for (var p in QUALITY_PIE) {
                                pieName.push(QUALITY_PIE[p])
                            }
                            pieOption = {
                                title: {
                                    text: '质量分析'
                                },
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    data: pieName
                                },
                                toolbox: {
                                    show: true,
                                    feature: {
                                        restore: { show: true },
                                        dataView: { show: true, readOnly: false },
                                        saveAsImage: { show: true }
                                    }
                                },
                                polar: [
                                    {
                                        indicator: radarName,
                                        center: [document.getElementById('pieChart').offsetWidth - 250, 225],
                                        radius: 120
                                    }
                                ],
                                calculable: false,
                                series: [
                                    {
                                        name: '品质分析',
                                        type: 'pie',
                                        radius: [0, 110],
                                        center: [170, 225],
                                        data: [
                                            {
                                                name: 'A等',
                                                value: Math.round(Math.random() * 10)
                                            },
                                            {
                                                name: 'B等',
                                                value: Math.round(Math.random() * 10)
                                            },
                                            {
                                                name: 'C等',
                                                value: Math.round(Math.random() * 10)
                                            }]
                                    },
                                    {
                                        name: 'radar',
                                        type: 'radar',
                                        itemStyle: {
                                            normal: {
                                                color: function (params) {
                                                    var dataIndex = params.dataIndex
                                                    switch (dataIndex) {
                                                        case 0: return 'rgb(0,184,0)'; break;
                                                        case 1: return 'pink'; break;
                                                        case 2: return 'rgb(230,200,0)'; break;
                                                        case 3: return 'rgb(0,156,213)'; break;
                                                        default: return 'rgb(213,35,33)';
                                                    }
                                                },
                                                areaStyle: {
                                                    color: 'rgba(151,229,151,0.7)',
                                                    type: 'default'
                                                }

                                            }
                                        },
                                        data: [{
                                            name: '质量参数',
                                            value: [
                                                Math.round(Math.random() * 100),
                                                Math.round(Math.random() * 100),
                                                Math.round(Math.random() * 100),
                                                Math.round(Math.random() * 100),
                                                Math.round(Math.random() * 100)
                                            ]
                                        }]
                                    }
                                ]
                            };
                            pieChart.setOption(pieOption);
                            window.setTimeout(function () {
                                var a = lineChart.getDataURL()
                                $("#hideLineImg").attr("src", a)
                                var b = barChart.getDataURL()
                                $("#hideBarImg").attr("src", b)
                                var c = pieChart.getDataURL()
                                $("#hidePieImg").attr("src", c)
                            }, 3000)

                            //获取数据
                            intervalId = window.setInterval(function () {
                                getLineData({ DataTime: dateStr, Count: 100 })
                                getBarData({ DataTime: dateStr, lineid: lineId })
                            }, 50000)
                            getLineData({ DataTime: dateStr, Count: 100 })
                            getBarData({ DataTime: dateStr, lineid: lineId })

                            //获取产量图数据方法
                            function getLineData(param) {
                                $.ajax({
                                    url: "/Statistics/GetCurrentProduction" + _formatQueryStr(param),
                                    success: function (data) {
                                        if (!data || data.length <= 1) return
                                        var xArr = [], y1Arr = [], y2Arr = []
                                        console.log("获取产量图数据")
                                        //console.log(data)
                                        data = JSON.parse(data).Rows
                                        for (let d = 0; d < data.length; d++) {
                                            xArr.push(data[d].ID_RealTimeUsage)
                                            y1Arr.push(parseInt(data[d].NowN))
                                            y2Arr.push(parseInt(data[d].ChildN))
                                        }
                                        lineOption.xAxis[0].data = xArr
                                        lineOption.series[0].data = y1Arr
                                        lineOption.series[1].data = y2Arr
                                        lineChart.setOption(lineOption)
                                        window.setTimeout(function () {
                                            var b = lineChart.getDataURL()
                                            $("#hideLineImg").attr("src", b)
                                        }, 3000)
                                    }
                                })
                            }
                            //获取用量图数据
                            function getBarData(param) {
                                var url = "/Statistics/GetDosageInfo" + _formatQueryStr(param)
                                $.ajax({
                                    url: url,
                                    success: function (data) {
                                        console.log("获取用量图数据")
                                        console.log(url)
                                        console.log(data)
                                        data = JSON.parse(data)[0]
                                        var xArr = [], yArr = []
                                        for (var d in data) {
                                            if(!data[d] && data[d]!=0) return
                                            xArr.push(barTableConfig[d])
                                            yArr.push(data[d])
                                        }
                                        barOption.xAxis[0].data = xArr
                                        barOption.series[0].data = yArr
                                        barChart.setOption(barOption)
                                        window.setTimeout(function () {
                                            var b = barChart.getDataURL()
                                            $("#hideBarImg").attr("src", b)
                                        }, 3000)
                                    }
                                })
                            }
                        </script>

                    </div>
                </div>
            </el-main>
        </el-container>
        <div class="el-footer">
        </div>
    </div>
    <div id="tempPage"></div>
</body>
</html>


