@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--查詢表單-->
    <el-form :inline="true" :model="formInline" class="demo-form-inline"
             size="medium">
        <el-form-item label="关键字">
            <el-input v-model="formInline.keyword" style="width:500px;"
                      placeholder="请输入搜索关键字"></el-input>
        </el-form-item>

        <el-form-item label="产线名称">
            <el-select v-model="formInline.ProductLineName">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="c of ProductLineName" :label="c" :value="c" key="c"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="所属公司名称">
            <el-select v-model="formInline.CompanyName">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="e of CompanyName" :label="e" :value="e" key="e"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" v-on:click="onFilter">搜索</el-button>
        </el-form-item>

        <el-form-item>
            <el-radio-group v-model="formInline.status">
                <el-radio :label="998">全部</el-radio>
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">禁用</el-radio>
            </el-radio-group>
        </el-form-item>
    </el-form>
    <!--表格實體-->
    <el-table :data="tableData" stripe border>
        
        <el-table-column prop="ProductLineId" label="产线编号" width="120"></el-table-column>
        <el-table-column prop="ProductLineName" label="产线名称" width="120"></el-table-column>
        <el-table-column prop="CompanyName" label="所属公司名称" width="120"></el-table-column>
        <el-table-column prop="telephone" label="固定电话" width="120"></el-table-column>
        <el-table-column prop="registertime" label="注册时间" width="120"></el-table-column>
        <el-table-column prop="role" label="角色" width="140"></el-table-column>
        <el-table-column prop="status" label="状态"></el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
</div>


<script>
    new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                tableData: [],
                currentPage: 1,
                pageSize: 5,
                totalRows: 0,
                superSearch: false,
                ProductLineName: [],
                CompanyName: [],
                formInline: {
                    keyword: '',
                    ProductLineName: '',
                    CompanyName: '',
                    status: ''
                }
            }
        },
        methods: {
            //翻頁相關事件
            handleSizeChange(val) {
                this.currentPage = 1
                this.pageSize = val
                this.getOrderData({})
            },
            handleCurrentChange(val) {
                this.currentPage = val
                this.getOrderData({})
            },
            //查詢相關頁面
            onFilter() {
                this.currentPage = 1
                let searchParam = {}
                let formInline = this.formInline
                var date = new Date()

                for (let p in formInline) {
                    if (formInline[p] == '' || formInline[p] == null) continue
                    if (p == 'OrderTime' || p == 'DeliveryTime') {
                        searchParam['strStart' + p] = _dateToString(formInline[p][0], '-')
                        searchParam['strEnd' + p] = _dateToString(formInline[p][1], '-')
                    } else {
                        searchParam[p] = formInline[p]
                    }
                }

                this.getOrderData(searchParam)
                console.log(searchParam)
            },
            //切换高级搜索
            changeSuperSearch() {
                this.superSearch = !this.superSearch;
            },
            //获取订单数据
            getOrderData(obj) {
                let that = this
                obj.PageIndex = this.currentPage - 1
                obj.PageSize = this.pageSize
                console.log(_formatQueryStr(obj))
                $.ajax({
                    url: "/ProductionLines/ProductionLinesData" + _formatQueryStr(obj),
                    //dataType: 'json',
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log(data)
                        if (data && data.Rows) {
                            that.tableData = data.Rows
                            that.totalRows = parseInt(data.Counts)
                            that.ProductLineName = []
                            that.CompanyName = []
                            for (let r of that.tableData) {
                                if (that.ProductLineName.indexOf(r.ProductLineName)) {
                                    that.ProductLineName.push(r.ProductLineName)
                                }
                                if (that.CompanyName.indexOf(r.CompanyName)) {
                                    that.CompanyName.push(r.CompanyName)
                                }
                            }
                        }
                    },
                    error: function (err) {
                        console.error(err)
                    }
                })
            }
        },
        created: function () {
            this.getOrderData({})
            loadHtml("mainPage", "partPage")
        }
    })




</script>