@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage">

    <el-collapse v-model="activeNames">
        <el-collapse-item title="硫化鞋生产线01" name="1">
            <div id="imgFrame" style="margin-bottom:30px;position:relative;width:900px;height:430px;">
                <img src="~/Content/images/lineVerticalView.png" style="width:900px;height:430px;" />
                <!--工艺人员组件-->
                <template v-for="w of workers">
                    <el-tooltip placement="right" effect="light" class="tips">
                        <div slot="content">
                            {{w.ArtificialConfig_ID}}
                            <br />
                            {{w.Name}}
                            <br />
                            {{w.Phone}}
                        </div>
                        <div class="device-worker" :style="{top: w.position.top,left:w.position.left}">
                            <img :src="'data:image/png;base64,'+w.img" />
                            <span>{{w.Jobs}}</span>
                        </div>
                    </el-tooltip>
                </template>
                @*<div class="device-worker" style="top: 12.02%;left: 0.56%">
                    <img src="~/Content/images/worker/7.jpg"/>
                    <span>套楦</span>
                </div>*@
            </div>
        </el-collapse-item>
        <el-collapse-item title="硫化鞋生产线02" name="2">
            <div>暂无数据</div>
        </el-collapse-item>
        <el-collapse-item title="硫化鞋生产线03" name="3">
            <div>暂无数据</div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    //vue组件-设备按钮显示
    var img = $("#imgFrame img").find("img")[0]
    var index = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: ['1'],
                workers: _cloneArr(WORKERS),
            }
        },
        methods: {
            getWorkersMessage: function () {
                var that = this
                $.ajax({
                    url: '/WorkStations/GetWorkSataionsInfo',
                    success: function (data) {
                        data = JSON.parse(data)
                        for (var i = 0; i < data.length; i++) {
                            for (var j = 0; j < WORKERS.length; j++) {
                                if (data[i].ArtificialConfig_ID == WORKERS[j].ArtificialConfig_ID) {
                                    WORKERS[j].img = data[i].img
                                    WORKERS[j].Name = data[i].Name
                                    WORKERS[j].Phone = data[i].Phone
                                    WORKERS[j].Jobs = data[i].Jobs
                                }
                            }
                        }
                        that.workers = WORKERS
                    }
                })
            }
        },
        created: function () {
            this.getWorkersMessage();
            loadHtml("mainPage", "partPage")
        }
    })

</script>



