@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage">

    <el-collapse v-model="activeNames">
        <el-collapse-item title="宝发硫化鞋生产线01" name="1">
            <div id="imgFrame" style="margin-bottom:30px;position:relative;width:900px;height:430px;">
                <img src="~/Content/images/lineVerticalView.png" style="width:900px;height:430px;" />
                <!--工艺人员组件-->
                <template v-for="w of workers">
                    <el-tooltip placement="right" effect="light" class="tips">
                        <div slot="content">
                            {{w.num}}
                            <br />
                            {{w.station}}
                        </div>
                        <div class="device-worker" :style="{top: w.position.top,left:w.position.left}">
                            <img :src="w.url" />
                            <span>{{w.station}}</span>
                        </div>
                    </el-tooltip>
                </template>
                @*<div class="device-worker" style="top: 12.02%;left: 0.56%">
                    <img src="~/Content/images/worker/7.jpg"/>
                    <span>套楦</span>
                </div>*@
            </div>
        </el-collapse-item>
        <el-collapse-item title="宝发硫化鞋生产线02" name="2">
            <div>暂无数据</div>
        </el-collapse-item>
        <el-collapse-item title="华宝硫化鞋生产线03" name="3">
            <div>暂无数据</div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    //vue组件-设备按钮显示
    var img = $("#imgFrame img").find("img")[0]

    var index = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: ['1'],
                workers: _cloneArr(WORKERS),
            }
        },
        methods: {

        },
        created: function () {

            loadHtml("mainPage", "partPage")
        }

    })

</script>



