@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage">

    <el-collapse v-model="activeNames">
        <el-collapse-item :title="lineData[0].ProductLineName" name="1">
            <div id="imgFrame" style="margin-bottom:30px;position:relative;width:100%;height:430px;">
                <img src="~/Content/images/lineVerticalView.png" style="width:100%;height:430px;" />
                <!--工艺人员组件-->
                <template v-for="w of workers">
                    <el-tooltip placement="right" effect="light" class="tips">
                        <div slot="content">
                            {{w.ArtificialConfig_ID}}
                            <br />
                            {{w.Name}}
                            <br />
                            {{w.Phone}}
                        </div>
                        <div class="device-worker" :style="{top: w.position.top,left:w.position.left}">
                            <img :src="'data:image/png;base64,'+w.img" />
                            <span>{{w.Jobs}}</span>

                            <el-button v-if="w.stationstate == '运行'" type="success" round>{{w.stationstate}}</el-button>
                            <el-button v-if="w.stationstate == '停止'||w.stationstate == '未启用'" type="info" round>{{w.stationstate}}</el-button>
                            <el-button v-if="w.stationstate == '空闲'" type="warning" round>{{w.stationstate}}</el-button>
                        </div>
                    </el-tooltip>
                </template>
                @*<div class="device-worker" style="top: 12.02%;left: 0.56%">
                    <img src="~/Content/images/worker/7.jpg"/>
                    <span>套楦</span>
                </div>*@
            </div>
        </el-collapse-item>
        <el-collapse-item :title="lineData[1].ProductLineName" name="2">
            <div>暂无数据</div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    //vue组件-设备按钮显示
    var img = $("#imgFrame img").find("img")[0]
    var lineData = getLocalObj("lineData")
    console.log(lineData)
    var index = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                lineData: lineData,
                activeNames: ['1'],
                workers: _cloneArr(WORKERS),
            }
        },
        methods: {
            //获取工位信息
            getWorkersMessage: function () {
                var that = this
                $.ajax({
                    url: '/WorkStations/GetWorkSataionsInfo',
                    success: function (data) {
                        data = JSON.parse(data)
                        for (var j = 0; j < WORKERS.length; j++) {
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].ArtificialConfig_ID == WORKERS[j].ArtificialConfig_ID && data[i].Mark == WORKERS[j].Mark) {
                                    WORKERS[j].img = data[i].img
                                    WORKERS[j].Name = data[i].Name
                                    WORKERS[j].Phone = data[i].Phone
                                    WORKERS[j].Jobs = data[i].Jobs
                                }
                            }
                            if (!WORKERS[j].Name) WORKERS[j].Jobs = ''
                        }
                        that.workers = WORKERS
                    }
                })
            },
            //获取工位状态
            getWorkStatus: function (lineid,orderid) {
                var that = this
                var url = '/WorkStations/GetWorkStationList?lineid=' + lineid + '&orderid=' + orderid
                $.ajax({
                    url: url,
                    success: function (data) {
                        console.log('//获取工位状态')
                        console.log(url)
                        data = JSON.parse(data)
                        console.log(data)
                        for (var i = 0; i < data.length; i++) {
                            for (var j = 0; j < WORKERS.length; j++) {
                                if (data[i].ArtificialConfig_ID == WORKERS[j].ArtificialConfig_ID && data[i].Mark == WORKERS[j].Mark) {
                                    WORKERS[j].stationstate = data[i].stationstate
                                }
                            }
                        }
                        that.workers = WORKERS
                    }
                })
            }
        },
        created: function () {
            this.getWorkersMessage();
            this.getWorkStatus(lineData[0].Data.ProductLineId, lineData[0].Data.OrderID)
            var that = this
            intervalId = window.setInterval(function () {
                that.getWorkStatus(lineData[0].Data.ProductLineId, lineData[0].Data.OrderID)
            }, 5000)
            loadHtml("mainPage", "partPage")
        }
    })

</script>



