@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--查詢表單-->
    <el-form :inline="true" :model="formInline" class="demo-form-inline"
             size="medium">
        <el-form-item label="关键字">
        <el-input v-model="formInline.keyword" style="width:500px;"
                  placeholder="请输入搜索关键字"></el-input>
    </el-form-item>
        
        <template v-if="superSearch">
            <el-form-item label="开始日期">
                <el-date-picker v-model="formInline.OrderTime"
                                type="daterange"
                                :picker-options="pickerOptions"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="交货日期">
                <el-date-picker v-model="formInline.DeliveryTime"
                                type="daterange"
                                :picker-options="pickerOptions"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
        </template>
        
        <el-form-item label="客户">
            <el-select v-model="formInline.Customer">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="c of Customer" :label="c" :value="c" key="c"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="出口国家">
            <el-select v-model="formInline.ExpCountries">
                <el-option label="全部" value=""></el-option>
                <el-option v-for="e of ExpCountries" :label="e" :value="e" key="e"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" v-on:click="onFilter">搜索</el-button>
            <span v-if="superSearch" v-on:click="changeSuperSearch" class="clickable-text">关闭高级搜索</span>
            <span v-else v-on:click="changeSuperSearch" class="clickable-text">高级搜索</span>
        </el-form-item>

        @*<el-form-item>
            <el-radio-group v-model="formInline.state">
                <el-radio :label="0">全部</el-radio>
                <el-radio :label="1">运动鞋</el-radio>
                <el-radio :label="2">休闲鞋</el-radio>
                <el-radio :label="3">皮鞋</el-radio>
            </el-radio-group>
        </el-form-item>*@
    </el-form>
    <!--表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" inline class="table-expand">
                    <el-form-item label="面料">
                        <span>{{ props.row.Material }}</span>
                    </el-form-item>
                    <el-form-item label="包头长度">
                        <span>{{ props.row.BaoTouL }}</span>
                    </el-form-item>
                    <el-form-item label="围条宽度">
                        <span>{{ props.row.WeiTiaoW }}</span>
                    </el-form-item>
                    <el-form-item label="护齿宽度">
                        <span>{{ props.row.HuChiW }}</span>
                    </el-form-item>
                    <el-form-item label="型体号">
                        <span>{{ props.row.XingTiN }}</span>
                    </el-form-item>
                    <el-form-item label="颜色代号">
                        <span>{{ props.row.Color }}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>
        <el-table-column prop="OrderID" label="总订单编号" width="120"></el-table-column>
        <el-table-column prop="OrderN" label="总订单量" width="120"></el-table-column>
        <el-table-column prop="Customer" label="客户" width="120"></el-table-column>
        <el-table-column prop="ExpCountries" label="出口国家" width="120"></el-table-column>
        <el-table-column prop="Size" label="尺码" width="120"></el-table-column>
        <el-table-column prop="OrdTime" label="下单时间" width="140"></el-table-column>
        <el-table-column prop="DeliveryTime" label="交货时间"></el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
</div>


<script>
    new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                tableData: [],
                currentPage: 1,
                pageSize: 5,
                totalRows:0,
                superSearch: false,
                Customer: [],
                ExpCountries: [],
                formInline: {
                    keyword: '',
                    Customer: '',
                    ExpCountries: '',
                    OrderTime: '',
                    DeliveryTime: ''
                }
            }
        },
        methods: {
            //翻頁相關事件
            handleSizeChange(val) {
                this.currentPage = 1
                this.pageSize = val
                this.getOrderData({})
            },
            handleCurrentChange(val) {
                this.currentPage = val
                this.getOrderData({})
            },
            //查詢相關頁面
            onFilter() {
                this.currentPage = 1
                let searchParam = {}
                let formInline = this.formInline
                var date = new Date()
                
                for (let p in formInline) {
                    if (formInline[p] == ''|| formInline[p] == null) continue
                    if (p == 'OrderTime' || p == 'DeliveryTime') {
                        searchParam['strStart' + p] = _dateToString(formInline[p][0],'-')
                        searchParam['strEnd' + p] = _dateToString(formInline[p][1], '-')
                    } else {
                        searchParam[p] = formInline[p]
                    }
                }

                this.getOrderData(searchParam)
                console.log(searchParam)
            },
            //切换高级搜索
            changeSuperSearch() {
                this.superSearch = !this.superSearch;
            },
            //获取订单数据
            getOrderData(obj) {
                let that = this
                obj.PageIndex = this.currentPage - 1
                obj.PageSize = this.pageSize
                console.log(_formatQueryStr(obj))
                $.ajax({
                    url: "/order/GetOrderByPara"+ _formatQueryStr(obj),
                    //dataType: 'json',
                    success: function (data) {
                        data=JSON.parse(data)
                        
                        if (data && data.Rows) {
                            that.tableData = data.Rows
                            that.totalRows = parseInt(data.Counts)
                            that.Customer = []
                            that.ExpCountries = []
                            for (let r of that.tableData) {
                                if (that.Customer.indexOf(r.Customer)) {
                                    that.Customer.push(r.Customer)
                                }
                                if (that.ExpCountries.indexOf(r.ExpCountries)) {
                                    that.ExpCountries.push(r.ExpCountries)
                                }
                            }
                        }
                    },
                    error: function (err) {
                        console.error(err)
                    }
                })
            }
        },
        created: function () {
            this.getOrderData({})
            loadHtml("mainPage", "partPage")
        }
    })


    

</script>