@{
    Layout = null;
}
 
<div id="partPage">
    <iframe id="frame1" style=" width:1366px ;height:768px" src="/Robot/RobotShow?lineid=1" />
 </div>
 
  

    <script>
          loadHtml("mainPage", "partPage") 
    </script>
 



