@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage">
    <el-collapse v-model="activeNames">
        <el-collapse-item title="宝发硫化鞋生产线01" name="1">
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>3#鞋面刷胶</p>
                <div><span>状态</span>&nbsp;<el-tag type="success">正常</el-tag></div>
                <div><span>雾化压力</span>&nbsp;<el-tag type="success">6</el-tag></div>
                <div><span>物料压力</span>&nbsp;<el-tag type="success">8</el-tag></div>
            </div>
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>11#围条一胶</p>
                <div><span>状态</span>&nbsp;<el-tag type="warning">警告</el-tag></div>
                <div><span>雾化压力</span>&nbsp;<el-tag type="warning">16</el-tag></div>
                <div><span>物料压力</span>&nbsp;<el-tag type="success">8</el-tag></div>
            </div>
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>12#围条二胶</p>
                <div><span>状态</span>&nbsp;<el-tag type="danger">异常</el-tag></div>
                <div><span>雾化压力</span>&nbsp;<el-tag type="danger">56</el-tag></div>
                <div><span>物料压力</span>&nbsp;<el-tag type="success">8</el-tag></div>
            </div>
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>13#围条三胶</p>
                <div><span>状态</span>&nbsp;<el-tag type="success">正常</el-tag></div>
                <div><span>雾化压力</span>&nbsp;<el-tag type="success">7</el-tag></div>
                <div><span>物料压力</span>&nbsp;<el-tag type="success">7</el-tag></div>
            </div>
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>18#护齿刷胶</p>
                <div><span>状态</span>&nbsp;<el-tag type="info">离线</el-tag></div>
                <div><span>雾化压力</span>&nbsp;<el-tag type="info">0</el-tag></div>
                <div><span>物料压力</span>&nbsp;<el-tag type="info">0</el-tag></div>
            </div>
        </el-collapse-item>
        <el-collapse-item title="宝发硫化鞋生产线02" name="2">
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>视觉站1</p>
                <div><span>状态</span>&nbsp;<el-tag type="success">正常</el-tag></div>
                <div><span>状态号</span>&nbsp;<el-tag type="success">0</el-tag></div>
                <div><span>报警号</span>&nbsp;<el-tag type="success">0</el-tag></div>
            </div>
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>视觉站2</p>
                <div><span>状态</span>&nbsp;<el-tag type="danger">异常</el-tag></div>
                <div><span>状态号</span>&nbsp;<el-tag type="danger">1</el-tag></div>
                <div><span>报警号</span>&nbsp;<el-tag type="danger">1</el-tag></div>
            </div>
            <div class="device-box">
                <div class="device-box-img"></div>
                <p>视觉站3</p>
                <div><span>状态</span>&nbsp;<el-tag type="info">离线</el-tag></div>
                <div><span>状态号</span>&nbsp;<el-tag type="info">0</el-tag></div>
                <div><span>报警号</span>&nbsp;<el-tag type="info">0</el-tag></div>
            </div>
        </el-collapse-item>
        <el-collapse-item title="华宝硫化鞋生产线03" name="3">
            <div>暂无数据</div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    var index = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: ['1']
            }
        },
        methods: {
            
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })

</script>



