<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Mysql>
    <constr> Host=47.96.172.122;UserName=sxpt;Password=123456aA;Database=SXPT;Port=3306;CharSet=utf8;Allow Zero Datetime=true</constr>
      </Mysql>
  <Redis_EX>
    <constr>47.96.172.122:6379,password=zhgc,allowAdmin=true</constr>
    </Redis_EX>
  <Redis>
    <constr>zhgc@47.96.172.122:6379</constr>
  </Redis>
  <RabbitMQ>
    <HostName>47.96.172.122</HostName>
    <UserName>admin</UserName>
    <Password>admin</Password>
    <Port>5672</Port>
    <VirtualHost>/</VirtualHost>
  </RabbitMQ>
</configuration>