<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Mysql>
    <constr>Data Source=119.3.66.94;port=3306;Initial Catalog=huabao;user id=huabao;password=huabao20252014;Charset=utf8</constr>
   </Mysql>
  <Redis_EX>
    <constr>47.96.172.122:6379,password=zhgc,allowAdmin=true</constr>
    </Redis_EX>
  <Redis>
    <constr>zhgc@47.96.172.122:6379</constr>
  </Redis>
  <RabbitMQ>
    <HostName>119.3.66.94</HostName>
    <UserName>admin</UserName>
    <Password>admin</Password>
    <Port>5672</Port>
    <VirtualHost>/</VirtualHost>
  </RabbitMQ>
</configuration>